body {
	font-family: 'Muli', sans-serif;
}

.nav-wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
}

.logo {
	font-size: 22px;
	color: #041122;
	font-weight: 800;
	text-transform: uppercase;
}

.navigation	{
	font-style: 22px;
	font-weight: 600;
	padding-top: 5px;
}

.navigation_link {
	color: #52575D;
	text-decoration: none;
	margin-right: 15px;
}

.navigation_link:hover, .navigation_link:active, .navigation_link:focus {
	color: #f72464;
	text-decoration: none;
}

.cart {
	padding-top: 12px;
	color: #5e5e5e;
	position: relative;
}

.cart_number {
	width: 19px;
	height: 19px;
	background-color: #f72464;
	border-radius: 10px;
	color: #FFF;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	padding-top: 1px;
	position: absolute;
	left: 8px;
	top: 20px;
}

.header {
	position: relative;
	height: 700px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.header .container {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
}

.header_bg {
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
	left: 42%;
	top: 0;
	background-color: f8f8f8;
	background-image: url(../img/bg/girl.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	z-index: -1;
}

.header_content {
	width: 750px;
}

.header_title {
	color: #222;
	font-size: 80px;
	font-family: 'Lora', serif;
	line-height: 1.25;
	margin-bottom: 30px;
}

.header_description {
	color: #52575D;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 50px;
}

.header_button {
	background-color: #F72464;
	font-style: 20px;
	color: #FFF;
	font-family: 'Lora', serif;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 12px;
	height: 50px;
	display: inline-block;
	border-radius: 5px;
  	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.3);
  	text-decoration: none;
  	transition: all 0.2s ease-in;
}

.header_button:hover {
	background-color: #DA0F4D;
	text-decoration: none;
	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.4);
	color: #FFF;

}

.section {
	padding-top: 100px;
	padding-bottom: 100px;
}

.title {
	font-family: 'Lora', serif;
	font-size: 35px;
	color: #222;
	margin-bottom: 5px;
	text-align: center;
}

.subtitle {
	font-size: 12px;
	color: #919191;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 100px;
}

.card {
	font-family: 'Lora', serif;
	text-align: center;
	margin-bottom: 25px;
}

.card_image {
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}

.cart_image img {
	max-width: 100%;
}

.card_title {
	color: #222;
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: 600;
}

.card_price {
	font-size: 13px;
	color: #F72464;
	font-weight: 600;
}

.card_price span {
	color: #838B8F;
	text-decoration: line-through;
	margin-right: 5px;
}

.card_hover {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
}

.card_hover:hover {
	opacity: 1;
	transition: all 0.3s ease-in;

}

.card_button {
	background-color: #F72464;
	font-style: 14px;
	color: #FFF;
	padding-top: 8px;
	width: 120px;
	height: 40px;
	display: inline-block;
	border-radius: 5px;
  	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.3);
  	text-decoration: none;
  	transition: all 0.1s ease-in;
  	margin-bottom: 12px;
}

.card_button:hover {
	background-color: #DA0F4D;
	text-decoration: none;
	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.4);
	color: #FFF;

}

.button_outline {
  	border-width: 1px;
  	border-color: rgb(247, 36, 100);
  	border-style: solid;
  	border-radius: 3px;
  	height: 38px;
  	font-size: 14px;
	font-family: 'Lora', serif;
  	color: rgb(145, 145, 145);
  	text-transform: uppercase;
  	line-height: 1;
  	padding-top: 11px;
  	width: 220px;
  	text-align: center;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 40px;
  	margin-bottom: 10px;
  	transition: all 0.3s ease-in;
}

.button_outline:hover {
	background-color: #DA0F4D;
	text-decoration: none;
	color: #FFF;
}

.adv-wrapper {
	height: 185px;
	background-color: #000
}

.adv-wrapper-bg-1 {
	background-image: url(../img/bg/bg-advert-1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.adv-wrapper-bg-2 {
	background-image: url(../img/bg/bg-advert-2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.container {

}

.adv-content-center {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.adv_title {
	font-size: 60px;
  	color: rgb(255, 255, 255);
  	font-family: 'Lora', serif;
  	line-height: 1.2;

}

.adv_button {
	border-radius: 3px;
  	background-color: rgb(247, 36, 100);
  	box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.25);
  	height: 55px;
  	line-height: 1;
  	color: #FFF;
  	font-size: 22px;
  	padding: 15px 50px;
  	font-family: 'Lora', serif;
  	transition: all 0.2s ease-in;
  	text-decoration: none;

}

.adv_button:hover {
	background-color: #DA0F4D;
	text-decoration: none;
	color: #FFF;
	text-decoration: none;
}

.title-2 {
	font-family: 'Lora', serif;
	font-size: 35px;
	color: #222;
	margin-bottom: 5px;
	text-align: center;
	margin-top: 100px;
}

.subtitle-2 {
	font-size: 12px;
	color: #919191;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 100px;
}

.button_outline-2 {
  	border-width: 1px;
  	border-color: rgb(247, 36, 100);
  	border-style: solid;
  	border-radius: 3px;
  	height: 38px;
  	font-size: 14px;
	font-family: 'Lora', serif;
  	color: rgb(145, 145, 145);
  	text-transform: uppercase;
  	line-height: 1;
  	padding-top: 11px;
  	width: 220px;
  	text-align: center;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 40px;
  	margin-bottom: 100px;
  	transition: all 0.3s ease-in;
}

.button_outline-2:hover {
	background-color: #DA0F4D;
	text-decoration: none;
	color: #FFF;
}

.footer {
	background-color: #000;
	padding: 20px 0 25px;
	text-align: center;
}

.footer-nav {
	margin-bottom: 20px;
}

.footer-nav_link {
	font-size: 13px;
	line-height: 1.5;
	color: rgb(255, 255, 255);
	text-decoration: none;
	margin-right: 35px;
}

.footer-nav_link:last-child {
	margin-right: 0px;
}

.footer-nav_link:hover {
	color: #f72464;
	text-decoration: none;
}

.footer_social {
	margin-bottom: 20px;
	color: rgb(255, 255, 255);
	font-size: 22px;
}

.footer_social a {
	color: #FFF;
	text-decoration: none;
	margin-right: 25px;
}

.footer_social a:last-child {
	margin-right: 0px;
}

.footer_social a:hover {
	color: #f72464;

}

.footer_copytight {
	color: rgb(137, 137, 137);
	font-size: 12px;
}
